@charset "utf-8";

////////// メディアクエリー //////////
//デバイス幅
$width-768: 768px;
$width-480: 480px;

@mixin media768 {
  //  768以上
  @media only screen and (max-width: $width-768) {
    @content;
  }
}

@mixin media480 {
  // 480以下
  @media only screen and (max-width: $width-480) {
    @content;
  }
}
////////// メディアクエリー //////////
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}
body,
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}
body {
  color: #000000;
  background-color: #ffffff;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    sans-serif;
  line-height: 1.3;
  font-size: 16px;
}
button {
  border-color: transparent;
  background: transparent;
  cursor: pointer;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
table {
  border-collapse: collapse;
}
a {
  cursor: pointer;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="esubmit"],
button,
select,
textarea {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}
